@page "/editgame"
@page "/editgame/{id:int}"

<PageTitle>@_title</PageTitle>
<h3>@_title</h3>

@if (_genres is null || Game is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Game" FormName="editGame" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Game.Name" class="form-control" />
                    <ValidationMessage For="() => Game.Name" />
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="Game.GenreId" class="form-select">
                        <option value="">Select a genre</option>
                        @foreach (var item in _genres)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Game.GenreId" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Game.Price" class="form-control" />
                    <ValidationMessage For="() => Game.Price" />
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">ReleaseDate:</label>
                    <InputDate id="releaseDate" @bind-Value="Game.ReleaseDate" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a role="button" class="btn btn-secondary" href="@ROOT">Cancel</a>
            </EditForm>
        </div>
    </div>
}